.header {
    border-bottom: 1px solid rgba(160,160,160,0.3);
    padding-bottom: 5px;
    margin-bottom: 0px;
}
.scrollable-view {
    height: 78vh;
    overflow-y: scroll;
    border-bottom: 1px solid rgba(160,160,160,0.3);
    /* display: none; */
    /* -ms-overflow-style: none; */
}
.scrollable-view::-webkit-scrollbar {
    display: none;
}

h2.title {
    margin-left: 15px;
    border-bottom: 1px solid rgba(160,160,160,0.3);
    padding: 15px 0px 15px 0px;
    color: #808080;
}
.date {
    margin-left: 15px;
    border-bottom: 1px solid rgba(160,160,160,0.3);
    padding: 0px 0px 15px 0px;
    color: #808080;
}
.text {
    padding: 15px 0px 15px 20px;
}
.bullet {
    position: relative;
    padding-left: 30px;
    margin-bottom: 25px;
}
.bullet::before {
    content: '';
    width: 25px;
    height: 25px;
    position: absolute;
    background-size: cover;
    background-position: center;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}
.bullet-att::before {
    background-image: url('../../img/att.png');
    content: '';
    width: 25px;
    height: 25px;
    position: absolute;
    background-size: cover;
    background-position: center;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}
.bullet-ds::before {
    background-image: url('../../img/ds.png');
    content: '';
    width: 22px;
    height: px;
    position: absolute;
    background-size: cover;
    /* background-position: center; */
    left: 0;
    top: 19px;
    transform: translateY(-70%);
    background-position: 0% 0;
}
.bullet-www::before {
    background-image: url('../../img/www.png');
    content: '';
    width: 25px;
    height: 25px;
    position: absolute;
    background-size: cover;
    background-position: center;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}
.bullet-mst::before {
    background-image: url('../../img/FullJoe.jpg');
    content: '';
    width: 25px;
    height: 25px;
    position: absolute;
    background-size: cover;
    background-position: center;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

.bullet-gotcha::before {
    background-image: url('../../img/gotcha.png');
    content: '';
    width: 25px;
    height: 25px;
    position: absolute;
    background-size: cover;
    background-position: center;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}
.skill-list {
    position: flex;
    flex-direction: row;
    margin-left: 3vw;
}
.skill {
    /* border: 1px solid rgba(160,160,160,0.3); */
    padding: 5px;
    text-align: left;
    background-color: white;
    margin-top: 5px;
    width: 8vw;
    font-size: 20px;
    font-weight: bold;
    color: cornflowerblue;
    border-right: solid rgba(160,160,160,0.3);
    margin-right: 1vw;
}
.skill-level {
    background-color: rgba(14, 143, 24, 0.3);
    margin-top: 5px;
    width: .2px;
    height: 30px;
}
.skill-row {
    display: flex;
    flex-direction: row;
}
.skill-header{
    color: gray;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    margin-top: 2vh;
    margin-left: 0vw;
    border-bottom: 1px solid #6464;
    margin-bottom: 5px;
}
.skill-header-left{
    font-size: 20px;
}
.skill-header-right {
    margin-left: 6vw;
    font-size: 20px;
}
.ed-date {
    margin-left: 1vw;
    color:gray;
}
.ed-title{
    padding: 15px 0px 15px 0px;
    color: #808080;
}
.gpa {
    margin-left: 1vw;
    color:gray;
}
.ed {    
    height: 72vh;
    padding-left: 3vw;
    border-bottom: 1px solid rgba(160,160,160,0.3);
}
.ed-header { 
    margin-top: 5vh;
    padding-bottom: 2vh;
    display: flex;
    flex-direction: row;
}
.ed-img {
    height: 17vh;
    width: 21vh;
    margin-top: 1vh;
}
.ed-school-stuff {
    display: flex;
    flex-direction: column;
    margin-left: 5vh;
}
.ed-block {    
    border-bottom: 1px solid rgba(160,160,160,0.3);
}
@media (min-width: 500px) and (min-height: 300px) and (max-width: 1100px) and (max-height: 800px) {
    .scrollable-view {
        height: fit-content;
    }

    .ed {
        height: fit-content;
        border-bottom: none;
    }
    .ed-school-stuff{
        margin-left: 0px;
    }
    .skill-header-left {
        width: 13vw;
    }
    .skill {
        width: 18vw;
    }
    .ed-header {
        border-bottom: none;
    }
}
@media (max-height: 900px ) and (max-width: 400px) {
    .scrollable-view {
        height: fit-content;
    }
    .ed {
        height: fit-content;
    }
    .ed-header{
        flex-direction: column;
    }
    .ed-school-stuff{
        margin-left: 0px;
    }
    .ed-img {
        margin-left: 5vh;
    }
    .ed-title{
        margin-left: 0px;
    }
    .skill-level{
        width: .1px;
    }
    .skill-header-left {
        width: 26vw;
    }
    .skill {
        width: 30vw;
    }
}