.body-div {    
  background-color:  white;
  padding-left: 50px;
  border-left: 1px solid rgba(160,160,160,0.3);
  height: 90vh;
  width: 100%;
  margin-left: 20px;
  left: 20px;
}
@media (min-width: 500px) and (min-height: 300px) and (max-width: 1100px) and (max-height: 900px) {
  .body-div {
    height: unset;
  }
}
@media (max-width: 900px) and (min-height: 400px){
    .body-div {
      width: 40vh;
      border-left: none;
      padding-left: 0px;
      height: unset;
    }
  }