.body-div {    
    background-color: white;
    padding-left: 50px;
    border-left: 1px solid rgba(160,160,160,0.3);
    height: 100%;
    width: 90%;
    margin-left: 20px;
    left: 20px;
    top: 0px;
}

@media (max-width: 900px){
    .body-div {
      width: 20 vh;
      border-left: none;
      padding-left: 0px;
    }
  }