.body-div {    
  background-color:  white;
  padding-left: 50px;
  border-left: 1px solid rgba(160,160,160,0.3);
  height: 90vh;
  width: 100%;
  margin-left: 20px;
  left: 20px;
}
@media (min-width: 400px) and (min-height: 300px) and (max-width: 1100px) and (max-height: 900px) {
  .body-div {
    height: fit-content;
  }
}
@media (max-width: 900px) and (min-height: 400px){
    .body-div {
      width: 86vw;
      padding-left: 3vh;
      height: fit-content;
      border: none;
      margin-left: 0;
    }
  }