/* Google fonts
font-family: 'Roboto', sans-serif;
font-family: 'Raleway', sans-serif;
font-family: 'Shadows Into Light', cursive;
font-family: 'Amatic SC', cursive;
font-family: 'Orbitron', sans-serif;
font-family: 'Julius Sans One', sans-serif;
 */
.personal-image-div {
    background-color: white;
    font-family: "Raleway",Helvetica,sans-serif;
    display: flex;
    flex-direction: column; 
    margin-bottom: 2vh;
    margin-left: 1vh;
}

.name {
    font-size: 3.25vh;
    font-weight: bold;
    font-family: 'Julius Sans One', sans-serif;
    cursor: default;
    /* margin-top: 30px; */
    /* font:"Courier New", Courier, monospace !important; */
}
.email {
    font-size: 1.25vh;
    font-weight: 300;
    width: fit-content;
    
    color:#646464;
    cursor: pointer;
    text-decoration: none;
    border-bottom: 1px dotted rgba(160,160,160,0.3);
    margin-left: 4.5vh;
    /* font:"Courier New", Courier, monospace !important; */
}

.email:focus {
    color: #2598BA
}
.my-photo {
    height: 25vh;
    width: 25vh;
    left: 2vw;
    /* margin-left: 2vh; */
    border-radius: 100%;
}

@media (max-height: 900px ) and (max-width: 400px){
    .personal-image-div {
        margin-left: 5vh;
    }
    .sidebar-div {
        margin-left: 5px;
        margin-bottom: 5vh;
    }
    .my-photo {
        width: 25vh;
        height: 75%
    }
}