.header-div{
    left: 0;
    top: 0px;
    background-color: whitesmoke;
    width: 98%;
    height: 4vh;
    border-bottom: 1px solid rgba(160,160,160,0.3);
    position: absolute;
    display: flex;
    flex-direction: row;
    position: fixed;
}
.header-text-home {
    width:fit-content;
    font-size: 12px;
    padding: 8px;
    border-right: 1px solid rgba(160,160,160,0.3);
    text-decoration: none;
    color: black;
}
.header-text {
    margin-bottom: auto;
    margin-left: 25px;
    top: 40px;
    font-weight: lighter;
    font-size: 12px;
    margin-top: 8px;
    padding-right: 15px;
    border-right: 1px solid rgba(160,160,160,0.3);
    color: gray;
    text-decoration: none;
}

h2 {
    margin:0 0 0 15px;
}