.about-div{
    background-color: white;
    height: 40vh;
    width: fit-content;
    border-top: 1px solid rgba(160,160,160,0.3);
    font-family: "Raleway",Helvetica,sans-serif;
}

.header {
    font-weight: bold;
    font-size: 18px;
}

.content {
    font-weight: lighter;
    font-size: 12px;
    text-align: justify;
}


@media (min-width: 500px) and (min-height: 300px) and (max-width: 1100px) and (max-height: 800px) {
    .about-div {
        height: fit-content;
    }
}